* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

:root {
  --off-white-color: #fffdfa;
  --silver-color: #c5c6ce;
  --dark-silver-color: #5e607a;
  --dark-blue-color: #00001a;
  --orange-red-color: #f15d51;
  --yellow-color: #e9aa52;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2.8rem 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.container {
  width: 100%;
  max-width: 111rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.5rem;
}

.navigation-logo {
  width: 6.4rem;
}

.navigation-list {
  display: none;
  align-items: center;
  gap: 4rem;
}

.navigation-link {
  display: inline-block;
  text-decoration: none;
  color: var(--dark-silver-color);
  transition: 150ms color linear;
}

.navigation-link:hover {
  color: var(--orange-red-color);
}

.navigation-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.navigation-menu-button img {
  width: 4rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 7rem;
}

.hero-featured {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30rem 1fr;
  gap: 2.8rem;
}

.hero-featured picture {
  grid-column: 1 / -1;
}

.hero-featured picture img {
  height: 100%;
  object-fit: cover;
}

.hero-featured-title h1 {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1;
  color: var(--dark-blue-color);
}

.hero-featured-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-featured-details p {
  color: var(--dark-silver-color);
  margin-bottom: 3rem;
}

.hero-featured-details a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4rem;
  color: var(--dark-blue-color);
  background-color: var(--orange-red-color);
  padding: 1.2rem 3.2rem;
  margin-top: auto;
  transition: 150ms all linear;
}

.hero-featured-details a:hover {
  color: var(--off-white-color);
  background-color: var(--dark-blue-color);
}

.hero-latest {
  background-color: var(--dark-blue-color);
  padding: 3.2rem 2.4rem;
}

.hero-latest-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: var(--yellow-color);
  margin-bottom: 3.4rem;
}

.hero-latest-list-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--dark-silver-color);
  margin: 3rem 0;
}

.hero-latest-article a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  text-decoration: none;
  color: var(--off-white-color);
  margin-bottom: 0.8rem;
  transition: 150ms color linear;
}

.hero-latest-article a:hover {
  color: var(--yellow-color);
}

.hero-latest-article p {
  color: var(--silver-color);
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.news article {
  display: flex;
  gap: 2.4rem;
}

.news article img {
  flex-basis: 10rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.news article div {
  display: flex;
  flex-direction: column;
}

.news article div span {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--orange-red-color);
  margin-bottom: 1.2rem;
}

.news article div a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.4rem;
  text-decoration: none;
  color: var(--dark-blue-color);
  margin-bottom: 0.8rem;
}

.news article div p {
  color: var(--dark-silver-color);
}

@media only screen and (min-width: 768px) {
  body {
    padding: 4rem 0;
  }

  .navigation-list {
    display: flex;
  }

  .navigation-menu-button {
    display: none;
  }

  .hero-featured {
    grid-template-columns: 1fr 1fr;
  }

  .news {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 8rem 0;
  }

  .hero {
    grid-template-columns: 2fr 1fr;
  }

  .news {
    grid-template-columns: repeat(3, 1fr);
  }
}
