/*
- Lecture 04 (DONE)
- Colors (HEX - RGB - RGBA) (DONE)
- Global Selector (DONE)
- Box Model / Box Sizing (DONE)

Next Lecture:
- Width/Height/Min-Max (...)
- Sizing Units (px - rem - vh - vw - em)
- Positions
- Displays (without Flex and Grid)
*/

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

/*
html,
body {
  height: 100%;
}
*/

/*
HEX Color SYSTEM: #------
VALUES: 0 1 2 3 4 5 6 7 8 9 a b c d e f
ANATOMY: #RRGGBB
MAIN COLORS: #FF0000 (RED) - #00FF00 (GREEN) - #0000FF (BLUE)
SUB COLORS: #FFFF00 (YELLOW) - #FF00FF (PURPLE) - #00FFFF (CYAN)

- SHORT-HAND: #FF00FF -> #F0F
*/

/*
RGB COLOR SYSTEM: rgb(_, _, _)
VALUES: 0 - 255

RGBA COLOR SYSTEM: rgba(_, _, _, _)
VALUES: 0 - 255
ALPHA VALUES: 0 - 1 OR 0% - 100%
*/

#main-heading {
  color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.25);
  margin-bottom: 8px;
}

h2 {
  margin-bottom: 16px;
}

a {
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  margin-bottom: 4px;
}

a[href] {
  color: #fff;
  background-color: #f00;
  text-decoration: none;
}

p {
  margin: 20px 0;
}

ul {
  padding-left: 20px;
}

/* Box-Sizing in CSS */

.box {
  color: #fff;
  background-color: #f00;

  width: 100px;
  height: 100px;
  padding: 25px;
  border: 5px solid black;

  margin-top: 20px;
}

.box-2 {
  box-sizing: border-box;
}

/* Width/Height/Max and Min */

.box-3 {
  background-color: black;
  border: 5px solid red;

  width: 100%;
  max-width: 300px;
  min-width: 150px;
  height: 100px;

  margin: 20px 0;
}

.box-4 {
  background-color: #000;

  width: 75%;
  height: 75vh;
  max-height: 250px;
  min-height: 150px;
}
